@import "sidebar.css";
@import "pagebar.css";
@import "canvas.css";

.app-layout {
    flex-grow: 1;
    display: flex;
    border-top: 2px solid var(--gray-1);
    min-width: max-content;
}

.main-content-container {
    background-color: var(--gray-2);
    height: 100%;
    flex-grow: 1;
    display: flex;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}
