.pagebar {
    width: 100%;
    display: flex;
}

.page {
    flex-shrink: 0;
    margin-top: 2px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: 1px solid var(--gray-1);
    border-right: 1px solid var(--gray-1);
    background-color: var(--gray-3);
}

.page.first{
    border-left: 1px solid var(--gray-1);
}

.page.active{
    z-index: 1;
    margin-top: 0px;
    margin-left: -1px;
    border-top: 0;
    border-left: 1px solid var(--gray-1);
    background-color: var(--gray-4);
}

.page.first.active{
    margin-left: 0;
}